 How do you pass data to a component using props?

 React components use props to communicate with each other. Every parent component can pass some information to its child components by giving them props.
 Props might remind you of HTML attributes, 
 but you can pass any JavaScript value through them, including objects, arrays, and functions.

 props (short for properties) are a way to pass data from a parent component to a child component.
  The parent component can pass any data type to the child component as a prop, 
  including numbers, strings, objects, functions, and even other components.