What are components in React? Explain the difference between functional
components and class components.


  react components is a small peace of file that is save with .js and .jsx i.e called components
  components are re-usebles
  components are used to re-used one components data to another components
  components are stored data in state objects
  components access html data using jsx(javascript xml)
  components access multiple data in jsx formate using react fragments
  

  
types of components
  There are two type of components ........
  a) function components
      examples ..
      function App()
      {
         return(
           
         <>
           <h1>Hello world</h1>
         </>
         
         )
        
      }  

  b) class components....

      class App extends Components
      {
         render()
         {
            
           return(
             <>
             <h1>Hello world</h1>
             </>
           )
         
         }
      
      }

